.button {
  border: 0;
  outline: unset;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 10px;
  background: var(--color-bg-200);
  font-weight: 800;
  transition: all 0.15s cubic-bezier(0.5, 0.75, 0.68, 1.52);

  &:hover {
    box-shadow: var(--shadow-2);
    transform: translateY(-2px);
  }

  &--success {
    background: var(--color-success);
    color: var(--color-text-secondary);
  }
}
