$topPadding: 35px;
$bottomPadding: 40px;

.mainLayout {
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    padding: $topPadding 24px $bottomPadding;
    min-height: calc(100vh - ($topPadding + $bottomPadding));
    width: 100%;

    &BackButton {
      padding-bottom: 20px;
    }
  }
}
