:root {
  --color-text-main: #1e2029;
  --color-bg-main: #f9f9f9;
  --color-bg-100: #edf2f4;
  --color-bg-200: #eef2f4;
  --color-bg-500: #f3f7f9;
  --color-sidebar-bg: white;
}

body {
  margin: 0;
  background: var(--color-bg-main);
  font-family: "Manrope", sans-serif;
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
